@model DBv3.Models.VIPROOM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VIPROOM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROOM.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROOM.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDROOM,id2=Model.IDBUILDING }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.IDROOM, id2 = Model.IDBUILDING })|
    @Html.ActionLink("Back to List", "Index")
</p>
