@model IEnumerable<DBv3.Models.CARPARK>

@{
    ViewBag.Title = "REGcarpark";
}

<h2>Carpark</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.CAR.CARNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAR.PROVINCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMEIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMEOUT)
        </th>
       
        <th>
            <tex>ผู้บันทึก</tex>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.CARNUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.PROVINCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMEIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMEOUT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSON.USERNAME)
        </td>
       
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Menu", "REGIndex","User")
</p>
