@model IEnumerable<DBv3.Models.FITNESS>

@{
    ViewBag.Title = "fitness";
}

<h2>Fitness</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSON.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSON.USERNAME)
        </td>
        
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Menu", "UserHome", "Home")
</div>